<script type="text/javascript" src="{{ site.url }}/js/shCore.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/shBrushCpp.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/shBrushJava.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/shBrushObjectiveC.js"></script>

<link href="{{ site.url }}/css/shCore.css" rel="stylesheet" type="text/css" />
<link href="{{ site.url }}/css/shThemeDefault.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
SyntaxHighlighter.config.tagName = "code";
SyntaxHighlighter.all()
</script>
